<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img style="height: 55px;" src="img/logo.png" />
            </div>
            <div class="col-lg-4" style="color: white; padding: 15px; display: block;">
                <span class="bi bi-globe-americas" style="color: #5d7c8d; border-right: 1px solid; padding-right: 10px; margin-right: 10px;"> EN </span>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-tiktok"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style=" color:#5d7c8d; margin-top: 50px;">
                <a href="#">Kişisel Verilerin Korunması</a>
                <a href="#">Gizlilik Politikası</a>
                <a href="#">Güvenlik</a>
                <a href="#">Müşteri Deneyimi Destek</a>
                <a href="#">İletişim</a>
                <a href="#">Hakkımızda</a>
                <a href="#">Sözleşmeler</a>
                <a href="#">Çerez Aydınlatma Metni</a>
                <a href="#">Site Haritası</a>
            </div>
            <span style="color: darkgray; margin-top: 50px;">
                a Recep Bekir Gürbüz production RBG © 2024 - All rights reserved
            </span>
        </div>
    </div>
</footer>