<div class="top-header d-none d-sm-block">
    <div class="container">
        <a href="" class="top-links"><i class="bi bi-bell-fill"></i> Size Özel Fırsatlar</a>
        <a href="" class="top-links">Şube ve ATM'ler</a>
        <a href="" class="top-links">Ürün ve Hizmet Ücretleri</a>
        <a href="" style="color: #bdbdbd !important;">EN</a>
    </div>
</div>

  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="img/logo.png" style="height: 40px;">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li style="padding: 0px 20px;"><a href="#" class="nav-link px-2 link-body-emphasis" style="color: #062146 !important; font-weight: 500; border-bottom: 5px solid;">KENDİM İÇİN</a></li>
          <li style="padding: 0px 20px;"><a href="#" class="nav-link px-2 link-body-emphasis" style="color: #5d7c8d !important;">İŞİM İÇİN</a></li>
        </ul>

        <label for="search"><i class="bi bi-search"></i></label>
        <input placeholder="Arama Yap" id="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search" role="search" style="color: #004481 !important; padding: 0; border: none; padding-left: 10px; width: 100px;">
          

        <a href="/register" style="display:block; border: 2px solid #062146; border-radius: 5px; padding: 10px; color: #062146 !important; margin-left: 20px; font-weight: 500;">
          Müşteri Ol
        </a>
        <a href="/login" style="display:block; background: #062146; border-radius: 5px; padding: 10px 20px; color: white !important; border: 2px solid #062146; margin-left: 20px; font-weight: 500;">
          Giriş Yap
        </a>

        <div class="dropdown text-end" style="margin-left: 20px; display: none;">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

<nav class="container d-none d-sm-block" style="color: #062146 !important;">
    <a href="#">Mevduat</a>
    <a href="#">Yatırım</a>
    <a href="#">Krediler</a>
    <a href="#">Kartlar</a>
    <a href="#">Dijital Bankacılık</a>
    <a href="#">Sigorta ve Emeklilik</a>
    <a href="#">Ödemeler ve Hizmetler</a>
    <a href="#">Özel Bankacılık</a>
</nav>