<!DOCTYPE html>
<html lang="en">
@{
    await Html.RenderPartialAsync("_Head");
}
<body>
    @{
        await Html.RenderPartialAsync("_Header");
    }

    @RenderBody()

    @{
        await Html.RenderPartialAsync("_Footer");
        await Html.RenderPartialAsync("_Scripts");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
