<!DOCTYPE html>
<html lang="en">
@{
    await Html.RenderPartialAsync("_Head");
}
<style>
body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-size: cover !important;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
button{
    border: 1px solid gray !important;
    border-radius: 5px !important;
}
</style>
<body>

    @RenderBody()

    @{
        await Html.RenderPartialAsync("_Scripts");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
